body {
    background-color: #D4E6FBB8; /* Biru muda */
    margin: 0;
    padding: 0;
    width: 1366px;
    height: 768px;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-div {
    width: 499px; /* Lebar div */
    height: 720px; /* Tinggi div */
    margin-top: 24px; /* Jarak atas */
    margin-left: 0px; /* Jarak kiri */
    padding: 48px ; /* Padding */
    gap: 10px; /* Jarak antar elemen */
    border-radius: 12px ; /* Sudut div */
    background-color: white; /* Warna latar belakang */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Bayangan */
}

.header {
    width: 403px;
    height: 33px;
    color: #42486C;
    size: 24px;
    font-weight: 900; /* Membuat teks cetak tebal */
}

.header span {
    color: #2680EB;
}

.header1 {
    width: 403px;
    height: 22px;
    color: #8589A0;
    size: 16px;
    font-weight: 800; /* Membuat teks cetak tebal */
}

.header2 {
    width: 403px;
    height: 22px;
    color: #42486C;
    margin-top: 60px;
    size: 16px;
    font-weight: 800; /* Membuat teks cetak tebal */
}



.input-box{
    position: relative;
    margin-top: 60px;
    width: 403px;
    height: 22px;

  }

  .label{
    width: 403px;
    height: 22px;
    color: #8589A0;
    size: 14px;
    font-weight: 700; /* Membuat teks cetak tebal */
}

.form-control{
    margin-top: 10px;
}
  
.input-box i {
    position: absolute;
    right: 13px;
    top: 45px;
    color:#ced4da;
  
  }

.btn {
    margin-top: 360px;
    padding: 12px, 36px, 12px, 36px;
    gap: 4px;
    width: 403px;
}



.right-div {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
     /* Lebar div */ /* Tinggi div */
    border-radius: 50px 0px 0px 50px; /* Sudut div */
    background-color: white; /* Warna latar belakang */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Bayangan */
    margin-left: 60px; /* Sesuaikan margin kiri */ /* Padding */
}

/* Menambahkan style tambahan sesuai dengan layout */

/* Menambahkan style tambahan sesuai dengan layout */

.image{
    width: 671px;  /* Lebar div */
    height: 100%; /* Tinggi div */
}


